body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
h1 {
  color: #096fce;
}
.description {
  font-style: bold;
}
tr {
  height: 20px;
  width: 20px;
}
td {
  height: 20px;
  width: 20px;
}
